main {
  overflow-y: hidden;
  margin-left: 15%;
  margin-top: 5%;
  height: auto;
  width: 100%;
  gap: 1.05rem;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  border-radius: 1rem;
  position: relative;
}

main::-webkit-scrollbar {
  width: 0;
  display: none;
}

.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 1.5rem;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  flex: 60% auto;
  gap: 1.05rem;
}

.dash-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.server-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.05rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--default-lightGray);
}

.server-info span {
  font-size: 1.04rem;
  font-weight: 600;
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.bot-config {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--default-lightGray);
}

.bot-config span {
    font-size: 1.04rem;
    font-weight: 600;
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.45rem;
}

.bot-settings {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1.75rem;
    column-gap: 1.5rem;
}

.bot-settings div {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

.bot-settings div section {
    text-align: start;
    font-size: 0.85rem;
    font-weight: 600;
}

.bot-settings div input {
    text-align: start;
    outline: none;
    border: 2px solid #ffffff45;
    background: none;
    margin-right: 20%;
    padding: 0.24rem 0.5rem;
    border-radius: 0.25rem;
}



#copyServerId {
  outline: none;
  border: none;
  background-color: none;
  background: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  gap: 0.5rem;
}

.server-info p {
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0;
}

.by {
  width: 50%;
}

body::before {
  content: "Coming soon";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}